/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 55%; } }

body {
  font-family: arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #222;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.3rem; }

.sprite-grid {
  background-image: url(../img/sprite.png);
  background-size: 528px 68px;
  background-position: -132px -38px;
  opacity: .55;
  display: inline-block;
  outline: none;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  margin-right: -4px;
  margin-top: -2px;
  margin-left: -2px; }

.nav {
  position: absolute;
  top: 1.6rem;
  left: 0;
  width: 100%;
  user-select: none; }
  .nav__items-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 auto;
    padding: 0 3rem;
    text-align: right; }
  .nav__items-list {
    list-style: none; }
  .nav__item {
    display: inline-block; }
    .nav__item:not(:first-child) {
      padding-left: 15px; }
  .nav__item-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer; }
  .nav__item-signin {
    color: #fff;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background-image: linear-gradient(to top, #4387fd, #4683ea);
    padding: 0 1.2rem;
    border-radius: 2px;
    display: inline-block;
    line-height: 2.8rem; }
    .nav__item-signin:active, .nav__item-signin:focus {
      box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
      background: -webkit-linear-gradient(top, #3c7ae4, #3f76d3); }

.input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 58.4rem;
  width: 100%;
  align-self: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1); }
  @media only screen and (max-width: 37.5em) {
    .input {
      max-width: 50.4rem; } }
  @media only screen and (max-width: 500px) {
    .input {
      max-width: 40.4rem; } }
  @media only screen and (max-width: 400px) {
    .input {
      max-width: 30.4rem; } }
  .input:focus, .input:active, .input:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .input__field {
    flex-grow: 2;
    background-color: #fff;
    height: 44px;
    vertical-align: top;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: .5rem 1.6rem;
    font-family: inherit;
    font-size: 1.6rem; }
  .input__voice-btn {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat -3px 0;
    background-size: 24px 24px;
    display: inline-block;
    height: 23px;
    width: 17px;
    align-self: center;
    margin-right: 2rem;
    cursor: pointer; }

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
  /* Hide the tooltip content by default */
  /* Position tooltip above the element */
  /* Triangle hack to make tooltip look like a speech bubble */ }
  [data-tooltip]::before, [data-tooltip]::after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(1.5rem); }
  [data-tooltip]::before {
    position: absolute;
    bottom: 110%;
    left: 0;
    margin-bottom: 5px;
    margin-left: -50px;
    padding: 7px 15px;
    width: auto;
    min-width: 120px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    line-height: 1.2;
    font-size: 1.1rem;
    font-weight: bold; }
  [data-tooltip]::after {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid rgba(51, 51, 51, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0; }
  [data-tooltip]:hover::before, [data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
    transform: translateY(0); }

.buttons {
  padding-top: 1.8rem; }
  .buttons__search, .buttons__lucky {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #b5b5b5;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1.1rem 4px;
    min-width: 5.4rem;
    padding: 0 1.6rem;
    text-align: center;
    height: 3.6rem;
    line-height: 2.7rem; }
  .buttons__search:hover:hover, .buttons__lucky:hover:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222; }

.offered-in {
  margin-top: 1.2rem; }
  .offered-in a {
    color: #1a0dab;
    padding: 0 3px; }
    .offered-in a:hover {
      text-decoration: underline;
      cursor: pointer; }

/* ************* *********** ************* */
.logo {
  height: 23.3rem;
  margin-top: 8.9rem; }
  .logo__img {
    padding-top: 10.9rem; }
    @media only screen and (max-width: 20em) {
      .logo__img {
        width: 200px; } }

/* ************* *********** ************* */
.footer {
  height: 8.2rem;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .footer div {
    line-height: 40px; }
  .footer__country {
    padding-left: 30px;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e4e4; }
    @media only screen and (max-width: 30em) {
      .footer__country {
        justify-content: center;
        padding-left: 0; } }
  .footer__links {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 30em) {
      .footer__links {
        flex-direction: column; } }
    .footer__links a {
      color: #666;
      display: inline-block;
      padding-left: 2.7rem;
      cursor: pointer; }
      @media only screen and (max-width: 30em) {
        .footer__links a:first-child {
          padding-left: 0; } }
      .footer__links a:hover {
        text-decoration: underline; }
    .footer__links-left, .footer__links-right {
      display: inline-block;
      text-align: center; }
    .footer__links-right {
      float: right;
      margin-right: 40px; }
      @media only screen and (max-width: 30em) {
        .footer__links-right {
          margin: 0; } }

.container {
  text-align: center;
  padding-bottom: 3.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column; }
